:root {
  --light-color: #EEEEEE;
  --dark-color: #222831;
  --orange: #F37021;
  --helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --manrope: "Manrope", sans-serif;

  --font-size-big-title: clamp(3rem, 8vw, 6.875rem);
  --font-size-heading: clamp(2rem, 8vw, 3rem);
  --font-size-subsubheading: clamp(1.7rem, 8vw, 2.25rem);
  --font-size-subheading: clamp(1.5rem, 3vw, 2rem);
  --font-size-paragraph: clamp(1rem, 2.5vw, 1.25rem);
  --small-text: clamp(0.8rem, 1.5vw, 1rem);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: var(--helvetica);
  font-weight: bold;
  margin: 0;
}

p {
  font-family: var(--manrope);
  font-weight: 400;
  font-size: var(--font-size-paragraph);
}

h1 {
  font-size: var(--font-size-big-title);
}

h2 {
  font-size: var(--font-size-heading);
}

h3 {
  font-size: var(--font-size-subsubheading);
  font-weight: 400;
}

h4 {
  font-size: var(--font-size-subheading);
  font-family: var(--helvetica);
  font-weight: 400;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--light-color);
  scroll-behavior: smooth;
}

.logo {
  height: 3em;
  padding: 0.5em;
}

.title-ahead {
  z-index: 5;
  position: relative;
  font-size: clamp(5rem, 8vw, 6.875rem);
}

.title {
  z-index: 5;
}

.landing h1 {
  color: var(--dark-color);
  text-align: center;
  font-style: italic;
}

.history h1 {
  text-align: center;
  color: var(--dark-color);
  font-size: clamp(5rem, 8vw, 6.875rem);
}

.history h2 {
  color: var(--dark-color);
}

.landing-p {
  color: var(--orange);
  font-size: var(--font-size-subheading);
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  border-radius: .2rem;
  border: 1px solid transparent;
  padding: 0.7em 1.3em;
  font-size: 1em;
  font-weight: 600;
  font-family: var(--manrope);
  color: var(--light-color);
  background-color: var(--orange);
  cursor: pointer;
  transition: all 0.25s;
}

section {
  padding: 2em 2em;
}

.ahead-animation {
  display: none;
}

.shapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center;
}

.shapes > div {
  flex: 0 0 calc(33.33% - 10px); 
  margin: 5px;
}

.shapes img {
  width: 25vw;
  max-width: 10rem;
  height: auto;
}

.document-title {
  color: var(--dark-color);
  font-weight: 400;
}

.left-side p {
  color: var(--dark-color);
}

.document-section {
  display: none;
}

.document-section span {
  color: var(--orange);
}

.document {
  display: none;
}

.small-document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

}

.document p {
  color: var(--dark-color);
  font-family: var(--manrope);
  font-weight: 300;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
}

.drop-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.drop-area div {
  width: 15vw;
  height: 15vw;
  max-width: 4rem;
  max-height: 4rem;
  border: 2px dashed #999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  overflow: hidden; 
  transition: border-color 0.3s;
}

.drop-area div img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

.date-and-signature {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.date-and-signature p {
  color: var(--orange);
  font-weight: 600;
}

.document-header {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.pbkal {
  color: var(--dark-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pbkal-section {
  display: none;
}

.opinions, .events {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.opinions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rails {
  z-index: 1;
}

.opinion-card {
  z-index: 5;
  background-color: var(--orange);
  border-radius: 5%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 20rem;
}


.vector {
  margin-top: 3rem;
}

.accent-year {
  font-size: clamp(3rem, 8vw, 4.5rem);
  color: var(--orange);
}

.lgv-animation {
  max-width: 30rem;
}

.separator {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.big-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-info p {
  max-width: 60ch;
  color: var(--dark-color);
}

.big-info span {
  color: var(--orange);
  font-size: var(--font-size-heading);
}

/* .abstract {
  width: 100%;
} */



.company-structure {
  color: var(--dark-color);
}

.company-structure p {
  max-width: 60ch;
}

.company-img {
  max-width: 10rem;
}

.company-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


.agreement p {
  max-width: 30ch;
  color: var(--dark-color);
}

.agreement {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  border: 1px solid var(--dark-color);
  padding: 1rem;
}

.investment-img {
  max-width: 80vw;
}

.investments {
  background-color: var(--dark-color);
  color: var(--light-color);
}

.investment-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.investment-item p {
  max-width: 40ch;
}

.flags-animation {
  max-width: 30rem;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.test-yourself {
  display: none;
}

.map {
  width: 50vw;
  height: 30vw;
}

.map-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.large-paragraph {
  font-weight: 600 !important;
}

.letter {
  color: #ACACAD;
  display: inline-block;
  font-weight: 400;
}

.mobile-heading {
  color: var(--dark-color);
}

.mobile-animation {
  width: clamp(15rem, 30vw, 20rem);
  margin-top: -10rem;
  margin-bottom: -2rem;
  margin-left: -3rem;
}

.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abstract {
  display: none;
}

/* * css media query  */

@media (min-width: 768px) {
  .ahead-animation {
    display: block;
    width: 80%;
  }

  section {
    padding: 2em 4em;
  }

  .title-ahead {
    display: none;
  }

  .abstract {
    display: block;
    rotate: 180deg;
    margin-top: -5rem;
    margin-bottom: -5rem;
  }

  .landing {
    display: block;
  }

  .landing h1 {
    text-align: left;
  }


  .mobile-document-section {
    display: none;
  }

  .history-text {
    max-width: 60ch;
  }

  .document {
    background-color: var(--light-color);
    padding: 2.5rem;
    border: 1px solid var(--dark-color);
    box-shadow: 20px 20px 15px var(--dark-color);
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .document-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .opinion-card {
    padding: 2rem;
  }

  .opinions-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .event-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .events-text {
    width: 50ch;
    margin: 0 auto;
  }

  /* .separator {
    display: none;
  } */

  .event-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .company-container {
    flex-direction: row;
  }

  .investment-item {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .investment-img {
    max-width: 40vw;
  }

  .test-yourself {
    display: block;
    color: var(--dark-color);
  }

  .information-block p {
    color: var(--orange);
  }

  .mobile-animation {
    display: none;
  }




  .carousel-container {
    position: relative;
    width: 300px;
    height: 300px;
    margin: auto;
  }

  .circle-svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .carousel-item {
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

}

@media (min-width: 1024px) {
  .text-content {
    flex-direction: row;
  }
}