:root {
  --light-color: #EEEEEE;
  --dark-color: #222831;
  --orange: #F37021;
  --helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --manrope: "Manrope", sans-serif;

  --font-size-big-title: clamp(3rem, 8vw, 6rem);
  --font-size-heading: clamp(2.5rem, 8vw, 4rem);
  --font-size-subheading: clamp(1.5rem, 3vw, 2rem);
  --font-size-paragraph: clamp(1.2rem, 2.5vw, 1rem);
  --small-text: clamp(0.8rem, 1.5vw, 1rem);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: var(--helvetica);
  font-weight: bold;
  margin: 0;
}

p {
  font-family: var(--manrope);
  font-weight: 400;
  font-size: var(--font-size-paragraph);
  color: var(--light-color);

}

h1 {
  font-size: var(--font-size-big-title);
}

h2 {
  font-size: var(--font-size-heading);
}

h3 {
  font-size: var(--font-size-subheading);
}

h4 {
  font-family: var(--helvetica);
  font-weight: 300;
  font-size: var(--font-size-subheading);
}

p {
  font-family: var(--manrope);
  font-weight: 400;
  font-size: var(--font-size-paragraph);
  color: var(--light-color);

}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.logo {
  height: 4em;
  padding: 1.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.link {
  border-radius: .2rem;
  border: 1px solid transparent;
  padding: 0.7em 1.3em;
  font-size: 1em;
  font-weight: 600;
  font-family: var(--manrope);
  color: var(--light-color);
  background-color: var(--orange);
  cursor: pointer;
  transition: all 0.25s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.link:hover {
  box-shadow: 0 0 0 1px var(--orange);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

section {
  padding: 2em 2em;
}

.landing {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../assets/Europe-continent.png);
  background-size: 70rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.landing-p {
  color: var(--orange);
}

.title {
  font-style: italic;
  font-size: var(--font-size-big-title);
  margin-bottom: 0.5rem;
}

.ahead {
  width: 50rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history-text {
  color: var(--light-color);
  width: 80%;
}

.countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.pbkal {
  display: flex;
  flex-direction: row;
}

.pbkal-animation {
  width: 100%;
}

.opinion-blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

}

.opinion-text {
  color: var(--orange);
}

.opinion-text {
  width: 90%;
}

.anti-opinions, .pro-opinions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
}

.lgv-animation {
  width: 45%;
}

.event-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.events-text {
  width: 40%;
}