:root {
  --light-color: #EEEEEE;
  --dark-color: #222831;
  --orange: #F37021;
  --helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --manrope: "Manrope", sans-serif;

  --font-size-big-title: clamp(3rem, 8vw, 6rem);
  --font-size-heading: clamp(2.5rem, 8vw, 48px);
  --font-size-subheading: clamp(1.5rem, 3vw, 36px);
  --font-size-paragraph: clamp(16px, 2.5vw, 20px);
  --small-text: clamp(0.8rem, 1.5vw, 1rem);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: var(--dark-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  font-family: var(--helvetica);
  font-weight: bold;
  margin: 0;
}

p {
  font-family: var(--manrope);
  font-weight: 400;
  font-size: var(--font-size-paragraph);
  color: var(--light-color);

}

h1 {
  font-size: var(--font-size-big-title);
}

h2 {
  font-size: var(--font-size-heading);
}

h3 {
  font-size: var(--font-size-subheading);
}

h4 {
  font-family: var(--helvetica);
  font-weight: 400;
  font-size: var(--font-size-subheading);
}

p {
  font-family: var(--manrope);
  font-weight: 400;
  font-size: var(--font-size-paragraph);
  color: var(--light-color);

}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.logo {
  height: 4em;
  padding: 1.5em;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.button {
  border-radius: .2rem;
  border: 1px solid transparent;
  padding: 0.7em 1.3em;
  font-size: 1em;
  font-weight: 600;
  font-family: var(--manrope);
  color: var(--light-color);
  background-color: var(--orange);
  cursor: pointer;
  transition: all 0.25s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.link:hover {
  box-shadow: 0 0 0 1px var(--orange);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

section {
  padding: 2em 2em;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.landing-p {
  color: var(--orange);
  font-size: var(--font-size-subheading);
}

.title {
  font-style: italic;
  font-size: var(--font-size-big-title);
  margin-bottom: 0.5rem;
}

.ahead-animation {
  width: 50rem;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history-text {
  color: var(--light-color);
  width: 80%;
}

.countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4rem;
}

.pbkal {
  display: flex;
  flex-direction: row;
}

.pbkal-animation {
  width: 100%;
}

.lgv-animation, .leuven-animation, .hsl-4-animation {
  width: 45%;
}

.event-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.events-text {
  width: 40%;
  margin: 0 auto;
}

.event-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--orange);
}

.events-block {
  margin-top: 3rem;
}

.accent-year {
  font-size: var(--font-size-heading);
}

.document-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;

}

.document-section span {
  color: var(--orange);
}

.document {
  background-color: var(--light-color);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
}

.small-document {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

}

.document p {
  color: var(--dark-color);
  font-family: var(--manrope);
  font-weight: 300;
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
}

.drop-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.drop-area div {
  width: 100px;
  height: 100px;
  border: 2px dashed #999;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  overflow: hidden; 
  transition: border-color 0.3s;
}

.drop-area div img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain;
}

.shapes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; 
  align-items: center;
}

.shapes > div {
  flex: 0 0 calc(33.33% - 10px); 
  margin: 5px;
}

.shapes img {
  width: auto;
  height: auto;
}

.large-paragraph {
  font-size: var(--font-size-subheading);
  font-weight: 300;
  color: var(--light-color);
  width: 80%;
  margin-top: 2rem !important;
}

.left-aligned-p {
  text-align: left !important;
}

.opinion-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
}

.right-alligned {
  text-align: right !important;
}

.opinion-header h4 {
  font-size: 1.5rem;
  background-color: var(--dark-color);
  padding: .6rem;
  margin: .5rem;
}

#map {
  height: 30cqw;
  width: 50cqw;
}

.map-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3rem;
} 

.test-yourself-p {
  color: var(--dark-color);
}

.information-block p {
  color: var(--orange);
  font-weight: 600;
  margin: 0;
}

.information-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.test-yourself {
  background-color: var(--light-color);
  color: var(--dark-color);
}

.big-info h3 {
  font-weight: 300;
  max-width: 90%;
  margin: 0 auto;
}

.big-info h3 span {
  font-size: var(--font-size-big-title);
  color: var(--orange);
}

.investments h4 {
  font-weight: 500;
  font-size: var(--font-size-paragraph);
  color: var(--orange);
}

.investment-img img {
  width: 30rem;
}

.investment-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.investment-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 45%;
  margin: 0 auto;
  height: 40rem;
  background-image: url("../assets/pattern.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.right-alligned-item {
  flex-direction: row-reverse;
}